/* style.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-align: center;
}

body {
    overflow: hidden;
}

#start-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
}

#start-btn {
    font-size: 45px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

#main-screen {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #111, #333);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

#verification-text {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 10%;
}

#verify-btn {
    background-color: #007BFF;
    color: white;
    font-size: 20px;
    padding: 12px 40px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    width: auto; /* ensures text fits the button */
}

#verify-btn:hover {
    background-color: #0056b3;
}

.expand {
    padding: 12px 80px;
    transition: width 0.5s ease-in-out;
}

.slide-down {
    transform: translateY(1500%);
    transition: transform 2s ease-in-out;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
